<footer class="main-footer">
  <div class="wrapper">
    <p class="h-card vcard">
      <a style="text-decoration: none" href={{ .Site.BaseURL }} class="p-name u-url url author metatag" rel="me">
        {{ .Site.Author.name }} ({{ .Site.Author.nick }})
      </a> /
      <a class="p-nickname u-email email metatag" rel="me" href="mailto:{{ .Site.Author.email }}">
        {{ .Site.Author.email }}
      </a>
      <img class="u-photo" src="img/headshot.png" alt="" />
    </p>
  </div>
</footer>
